h1 {
    color: darkslateblue;
    margin-left: 20%;
    font-size: 28pt;
}

body{
    background-image: url(../images/chat_background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.list-of-messages {
    margin-left: 20%;
    font-size: 25pt;
}

